.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 10vmin;
}

.App-header {
  background-color: #4dafa7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
#Player  {
  margin-top: 2vmin;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
}